<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta property="og:description" content="" />
    <meta name="author" content="map[]" />

    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="twitter:title" content="{{ self.title() }}" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="https://siguealcongreso.org/monitoreo/sintema/lxiii/">

    <link rel="alternate" type="application/rss+xml" href="https://siguealcongreso.org/monitoreo/sintema/lxiii/index.xml" title="Sigue al Congreso" />


<link rel="stylesheet" href="https://siguealcongreso.org/css/style.min.css">


<link rel="stylesheet" href="https://siguealcongreso.org/custom.css">


</head>
<body lang="en">
<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="https://siguealcongreso.org/" class="site-avatar"><img src="https://siguealcongreso.org//logo.jpg" /></a>

      <div class="site-info">
        <h1 class="site-name"><a href="https://siguealcongreso.org/">Sigue al Congreso</a></h1>
        <p class="site-description">Monitoreo parlamentario ciudadano</p>
        <div class="social-media">
        </div>
      </div>

      <nav>
        <a href="/acerca">Acerca de</a>
      </nav>
    </header>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
<div class="container">
     <ul class="alert alert-success">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endwith %}

{% block content %}{% endblock %}

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      © Sigue al Congreso 2023
    </footer>
  </div>
</div>
</body>
</html>
