{% extends "base.html" %}
{% block title %}Iniciativas sin resumen - Legislatura LXIII{% endblock %}
{% block content %}
    <div class="container">
      <p>
	{% if g.user %}
	{% if g.user['rol'] == 'admin' %}
	<a class="btn btn-outline-primary" href="../asigna">Asignar iniciativas</a>
	{% endif %}
	<a class="btn btn-outline-primary" href="../iniciativas">Ver mis asignadas</a>
	<a class="btn btn-outline-primary" href="..">Ver todas las iniciativas</a>
	<a class="btn btn-outline-primary float-end" href="../logout">Terminar sesión</a>
	<span class="btn btn-outline-secondary float-end disabled">Usuario: {{ g.user['usuario'] }}</span>
	{% else %}
	<a class="btn btn-outline-primary" href="login">Iniciar sesión</a>
	{% endif %}
      </p>
    </div>
    <form method="post">
    <div class="container px-4">
      <div class="row py-2 bg-light border-bottom-0 border">
        <div class="col-md-3">
          <div class=""><b>Número</b> {{ r.numero }}
          </div>
        </div>
        <div class="col-md-3">
          <div class=""><b>Asignada</b> {% if r.usuario != None %}{{ r.usuario }}{% endif %}
          </div>
        </div>
        <div class="col-md-6">
	  {% if g.user['rol'] == 'admin' %}
	  <div class=""><b>Estado</b>
	 {% for estado in estados %}
	 <div class="form-check">
          <input class="form-check-input" type="radio" name="estado_id" value="{{ estado.estado_id }}" id="estado{{ loop.index}}"{% if r.estado == estado.estado %} checked{% endif %}>
          <label class="form-check-label" for="estado{{ loop.index}}">{{ estado.estado }}</label>
         </div>
	 {% endfor %}
	 </div>
	 {% else %}
          <div class=""><b>Estado</b> {{ r.estado_id }}</div>
	  {% endif %}
	</div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
        <div class="">
          <div class="">
              <b>Cambios</b> {{ r.cambios }}
                (<a href="https://siguealcongreso.org/monitoreo/iniciativas/lxiii/{{ r.numero }}/" title="Ver ficha">{{ r.numero }}</a>)
            <a href="https://congresoweb.congresojal.gob.mx/infolej/sistemaintegral/infolej/{{ r.documento }}" target="_blank" title="Leer el documento">🖹</a>
          </div>
        </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
          <div class="col-md-3"><b>Tema</b>
            <textarea class="form-control" name="tema">{{ r.tema }}</textarea>
            <span class="form-text">¿De qué trata?</span>
          </div>
          <div class="col-md-6"><b>Resumen</b>
            <textarea class="form-control" rows="5" name="resumen">{{ r.resumen }}</textarea>
            <span class="form-text">¿Qué propone?</span>
          </div>
          <div class="col-md-3"><b>Área</b>
            <select class="form-select" name="area" multiple>
              <option value="0">Seleccionar...</option>
              {% for area in areas %}
	      {% if area.nombre in tags %}
              <option value="{{ loop.index }}" selected>{{ area.nombre }}</option>
	      {% else %}
              <option value="{{ loop.index }}">{{ area.nombre }}</option>
	      {% endif %}
              {% endfor %}
            </select>
          </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
        <div class=""><b>Comentario</b>
	  {% if g.user['rol'] in ('editor', 'admin') %}
          <textarea class="form-control" name="comentario">{{ r.comentario }}</textarea>
            <span class="form-text">¿Cómo mejorar el tema o resumen?</span>
          {% else %}{{ r.comentario }}{% endif %}
        </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
        <div class="">
	   <button type="submit" class="btn btn-secondary">Guardar</button>
        </div>
      </div>
    </div>
</form>
</div>
</div>
{% endblock %}
