{% extends "base.html" %}
{% block title %}Iniciativas sin resumen - Legislatura LXIII{% endblock %}
{% block content %}
    <div class="container">
      <p><span>¡Ayúdanos a escribir el resumen de una de estas iniciativas! <a href="/colabora/">¿Cómo?</a></span> -
	{% if 'username' in session %}
	{{ session['username'] }}
	{% if request.path == '/' %}
	<a class="btn-link" href="iniciativas">Mis iniciativas</a>
	{% else %}
	<a class="btn-link" href=".">Todas las iniciativas</a>
	{% endif %}
	<a class="btn-link" href="logout">Terminar sesión</a>
	{% else %}
	<a class="btn-link" href="login">Iniciar sesión</a>
	{% endif %}
	{% if request.path == '/asigna' %}
	<form class="needs-validation" novalidate method="post">
        <button class="btn btn-secondary" type="submit">Asignar</button>
	{% for user in users %}
	<div class="form-check">
        <input class="form-check-input" type="radio" name="autor" value="{{ user.usuario }}" id="id{{ user.usuario }}" required>
	<label class="form-check-label" for="id{{ user.usuario }}">{{ user.usuario }} {{ asignadas[user.usuario] }}
	</label>
	{% if loop.last %}
	<div class="valid-feedback">Ok</div>
	<div class="invalid-feedback">Selecciona un usuario</div>
	{% endif %}
	</div>
        {% endfor %}
	{{ asignadas[None] }} por asignar
	{% endif %}
      </p>
    </div>
        {% for r in records %}
    <div class="container px-4">
      <div class="row py-2 bg-light border-bottom-0 border">
        <div class="col-md-3">
          <div class=""><b>Número</b> {{ r.numero }}
          </div>
        </div>
        <div class="col-md-3">
	  {% if request.path == '/asigna' %}
          <div class="form-check">
	    <input class="form-check-input" type="checkbox" name="numero" value="{{ r.numero }}" id="c{{ r.numero }}">
	    <label class="form-check-label" for="c{{ r.numero }}"><b>Asignar</b> {{ r.usuario }}</label>
	    <div class="valid-feedback">Ok</div>
	    <div class="invalid-feedback">Selecciona una o más iniciativas</div>
	  {% else %}
          <div class=""><b>Asignada</b> {% if r.usuario != None %}{{ r.usuario }}{% endif %}
	  {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class=""><b>Estado</b> {{ r.estado }}
          </div>
        </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
        <div class="">
          <div class="">
              <b>Cambios</b> {{ r.cambios }}
                (<a href="https://siguealcongreso.org/monitoreo/iniciativas/lxiii/{{ r.numero }}/" title="Ver ficha">{{ r.numero }}</a>)
            <a href="https://congresoweb.congresojal.gob.mx/infolej/sistemaintegral/infolej/../../agendakioskos/documentos/sistemaintegral/estados/R_52806.pdf" target="_blank" title="Leer el documento">🖹</a>
          <a href="edita/{{ r.numero }}" title="Editar">✏</a>
          </div>
        </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
          <div class="col-md-3">
            <div class=""><b>Tema</b>
              {{ r.tema }}
            </div>
          </div>
          <div class="col-md-6">
            <div class=""><b>Resumen</b>
              {{ r.resumen }}
            </div>
          </div>
          <div class="col-md-3">
            <div class=""><b>Área</b>
              {% for area in tags[r.numero] %}
               {{ area }}
              {% endfor %}
            </div>
          </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
        <div class=""><b>Comentario</b>
	      {% for c in comentarios[r.numero] %}
	      {{ c }}<br>
	      {% endfor %}
        </div>
      </div>
    </div>
</div>
</div>
<br>
      {% endfor %}
      </form>
{% endblock %}
