{% extends "base.html" %}
{% block title %}Iniciativas sin resumen - Legislatura LXIII{% endblock %}
{% block content %}
    <div class="container">
      <p>
	{% if g.user %}
	&nbsp;
	{% if g.user['rol'] == 'admin' %}
	<a class="btn btn-outline-primary" href="asigna">Asignar iniciativas</a>
	{% endif %}
	<a class="btn btn-outline-primary" href=".">Ver mis asignadas</a>
	<a class="btn btn-outline-primary float-end" href="logout">Terminar sesión</a>
	<a class="btn btn-outline-primary float-end" href="usuario">Usuario: {{ g.user['usuario'] }}</a>
	{% else %}
	<a class="btn btn-outline-primary" href="login">Iniciar sesión</a>
	<a class="btn btn-outline-primary" href="registro">Registrar nuevo usuario</a>
	{% endif %}
      </p>
    </div>
  <div class="container">
    <section class="section">
      <table class="table table-hover">
	<tr class="tl"><th>Usuario</th><th>Cantidad</th><th>Nuevas</th><th>Pendientes</th><th>Revisadas</th>
      {% for usuario in asignadas_usuario|sort %}
        <tr>
	  <td><a href="#h{{ loop.index }}">{% if usuario == '' %}Sin asignar{% else %}{{ usuario }}{% endif %}</a></td>
	  <td>{{ asignadas[usuario]['Total'] }}</td>
    <td>{{ asignadas[usuario]['Nueva'] }}</td>
    <td>{{ asignadas[usuario]['Pendiente'] }}</td>
    <td>{{ asignadas[usuario]['Revisada'] }}</td>
	</tr>
      {% endfor %}
      </table>
  </div>
    {% for usuario in asignadas_usuario|sort %}
    <div class="container">
      {% if usuario == '' %}
      <h2 id="h{{ loop.index }}">Sin asignar  - {{ asignadas[usuario]['Total'] }}</h2>
      {% else %}
      <h2 id="h{{ loop.index }}">{{ usuario }} - {{ asignadas[usuario]['Total'] }}</h2>
      {% endif %}
    </div>
    {% for r in asignadas_usuario[usuario] %}
    <div class="container px-4">
      <div class="row py-2 bg-light border-bottom-0 border">
        <div class="col-md-3">
          <div class=""><b>Número</b> {{ r.numero }}
          </div>
        </div>
          <div class="col-md-3">
            <div class=""><b>Asignada</b> {% if r.usuario != None %}{{ r.usuario }}{% endif %}</div>
          </div>
        <div class="col-md-6">
          <div class=""><b>Estado</b> {% if r.estado != None %}{{ r.estado }}{% endif %}
          </div>
        </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
        <div class="">
          <div class="">
              <b>Cambios</b> {{ r.cambios }}
                (<a href="https://siguealcongreso.org/monitoreo/iniciativas/lxiii/{{ r.numero }}/" title="Ver ficha">{{ r.numero }}</a>)
            <a href="https://congresoweb.congresojal.gob.mx/infolej/sistemaintegral/infolej/{{ r.documento }}" target="_blank" title="Leer el documento">🖹</a>
            {% if g.user and (r.usuario == g.user['usuario'] or g.user['rol'] in ('editor', 'admin')) %}
	    <a href="edita/{{ r.numero }}" title="Editar">✏</a>
	    {% endif %}
          </div>
        </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
          <div class="col-md-3">
            <div class=""><b>Tema</b>
	      {% for t in temas[r.numero] %}
	      {{ t }}<br>
	      {% endfor %}
            </div>
          </div>
          <div class="col-md-6">
            <div class=""><b>Resumen</b>
	      {% for r in resumenes[r.numero] %}
	      {{ r }}<br>
	      {% endfor %}
            </div>
          </div>
          <div class="col-md-3">
            <div class=""><b>Área</b>
              {% for area in tags[r.numero] %}
               {{ area }}
              {% endfor %}
            </div>
          </div>
      </div>
      <div class="row py-2 border border-top-0 bg-light">
        <div class=""><b>Comentario</b>
	      {% for c in comentarios[r.numero] %}
	      {{ c }}<br>
	      {% endfor %}
        </div>
      </div>
    </div>
</div>
</div>
<br>
      {% endfor %}
      {% endfor %}
      </form>
{% endblock %}
