{% extends "base.html" %}
{% block title %}Iniciativas sin resumen - Legislatura LXIII{% endblock %}
{% block content %}
    <div class="container">
      <p>
	{% if g.user %}
	<a class="btn btn-outline-primary" href=".">Ver mis asignadas</a>
	<a class="btn btn-outline-primary" href="iniciativas">Ver todas las iniciativas</a>
	<a class="btn btn-outline-primary float-end" href="logout">Terminar sesión</a>
	<span class="btn btn-outline-secondary float-end disabled">Usuario: {{ g.user['usuario'] }}</span>
	{% else %}
	<a class="btn btn-outline-primary" href="login">Iniciar sesión</a>
	<a class="btn btn-outline-primary" href="registro">Registrar nuevo usuario</a>
	{% endif %}
      </p>
	<form class="needs-validation" novalidate method="get" action="confirma">
        <button class="btn btn-secondary" type="submit">Cambiar mi contraseña</button>
	</form>
	<hr>
	{% if g.user['rol'] in ('editor', 'admin') %}
	<form class="needs-validation" novalidate method="post">
        <button class="btn btn-secondary" type="submit">Enviar código a un usuario para contraseña olvidada</button>
	{% for user in users %}
	<div class="form-check">
        <input class="form-check-input" type="radio" name="autor" value="{{ user.usuario }}" id="id{{ user.usuario }}" required>
	<label class="form-check-label" for="id{{ user.usuario }}">{{ user.usuario }}
	</label>
	{% if loop.last %}
	<div class="valid-feedback">Ok</div>
	<div class="invalid-feedback">Selecciona un usuario</div>
	{% endif %}
	</div>
        {% endfor %}
	{% endif %}
    </div>
      </form>
{% endblock %}
